* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: rgba(2, 6, 23, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #1e293b;
  z-index: 1000;
}

.nav-container {
  max-width: 900px;
  margin: auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #38bdf8;
}

.nav-links a {
  margin-left: 20px;
  color: #e5e7eb;
  text-decoration: none;
  font-size: 0.95rem;
}

.nav-links a:hover {
  color: #38bdf8;
}


/* HERO */
.hero {
  padding: 60px 20px;
  text-align: center;
  background: #020617;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero p {
  margin-top: 10px;
}

.hero .sub {
  color: #94a3b8;
  max-width: 600px;
  margin: 15px auto 0;
}

/* SECTIONS */
.section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}

.section h2 {
  margin-bottom: 20px;
  border-bottom: 2px solid #334155;
  display: inline-block;
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills span {
  background: #1e293b;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 0.9rem;
}

/* PROJECTS */
.project {
  background: #020617;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.project h3 {
  margin-bottom: 10px;
}

.project ul {
  margin: 10px 0 15px 20px;
}

.links a {
  margin-right: 15px;
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.links a:hover {
  text-decoration: underline;
}

.contact a {
  color: #38bdf8;
  text-decoration: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  font-size: 0.9rem;
  color: #94a3b8;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .hero h1 {
    font-size: 2rem;
  }
}
